.button_get {
  background-color: green;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}
.button_delete {
  background-color: red;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button_update {
  background-color: blue;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button_add {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 15px;
}
.edit_button {
  margin-top: 20px;
}
.showcar{
    border: 4px solid brown;
}
.list {
  display: auto;
  margin: 10px;
  justify-content: space-between;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px;
  border: 4px solid brown;
  padding: 1rem;
  border-radius: 5px;
}
.listItem > div{
  margin: 5px 0px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid blue;
  background-color: antiquewhite;
}

.form_add {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 2px solid green;
  font-size: 1.4rem;
  text-align: center;
}
.text{
  font-size: 5rem;
  color: blue;
  background-color: #fff;
  opacity: 0.90;
  margin-top: 20px;
}